<p id="notice"><%= notice %></p>
<h2>近くのお店</h2>
<div id="map"></div>

<input type="hidden" id="shops_info" value=<%= @shops.to_json %> />

<%= render 'tab' %>

<script type="text/javascript">
  var map = L.map('map').setView([39.144562, 141.139285], 17);
  L.Icon.Default.imagePath = "/assets/";
  var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  var osmAttrib = "Map data OpenstreetMap contributors";
  L.tileLayer(osmUrl,{
    attribution: osmAttrib,
    maxZoom: 20,
  }).addTo(map);

  var shops = document.getElementById('shops_info').value;
  JSON.parse(shops).forEach((s) => {
    L.marker([s["latitude"], s["longitude"]]).addTo(map)
  })

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;
  L.marker([crd.latitude, crd.longitude]).addTo(map);
}

function error(err) {
  alert("現在地は取得できません。");
}

navigator.geolocation.getCurrentPosition(success, error, options)
</script>

