<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div id="map"></div>

<input type="hidden" id="shops_info" value=<%= @shops.to_json %> />

<%= render 'tab' %>

<script type="text/javascript">
  // 現在地が取得できなければ、奥州市役所
  let currentLocation = [39.144562, 141.139285]

  // navigatorのオプション
  const options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error, options)
  } else {
    currentLocation = [39.144562, 141.139285]
  }

  // マップの中心部を決める
  let map = L.map('map').setView(currentLocation, 17);
  // アイコンのディレクトリ
  L.Icon.Default.imagePath = "/assets/";
  // タイルの取得
  let osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  // コピーライト
  let osmAttrib = "Map data OpenstreetMap contributors";

  // レイヤーの指定
  L.tileLayer(osmUrl,{
    attribution: osmAttrib,
    maxZoom: 20,
  }).addTo(map);

  // マップをViewに反映
  let shops = document.getElementById('shops_info').value;

  // 現在地にピン立て
  L.marker(currentLocation).addTo(map)

  // お店一覧をプロット
  JSON.parse(shops).forEach((s) => {
    L.marker([s["latitude"], s["longitude"]]).addTo(map)
  })

  // 現在地取得できた場合の処理
  function success(pos) {
    let crd = pos.coords;
    currentLocation[0] = crd.latitude
    currentLocation[1] = crd.longitude
  }

  // 現在地取得ができなかった場合の処理
  function error(err) {
    currentLocation = [39.144562, 141.139285]
    console.alert("現在地は取得できません。");
  }
</script>

