.shops.index {
  .p-search__wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 32px;
  }

  .p-search__selectBoxWrapper {
    overflow: hidden;
    width: 90%;
    margin: 0 auto 16px;
    text-align: center;
    select {
      width: 100%;
      padding-right: 4px;
      text-align: center;
      cursor: pointer;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      border: none;
      outline: none;
      background: transparent;
      background-image: none;
      box-shadow: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .p-detailSearch__submit {
    padding: 8px 48px;
  }

  .p-search__selectBoxWrapper.p-search__selectBoxWrapperSub {
    position: relative;
    border-radius: 2px;
    border: 2px solid skyblue;
    border-radius: 50px;
    background: #fff;

    &::before {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid skyblue;
      pointer-events: none;
    }

    select {
      padding: 8px;
      color: black;
    }
  }
}
