.m-btn__wrapper {
  margin: 32px 0; 
  width: 100%;
  
  a:hover {
    background: #87ceeb;
    color: #fff !important;
    border-radius: 4px;
  }
}

.m-btn__group {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: center;
}

.m-btn__pacificBlue {
  display: block;
  padding: 8px 16px;
  border: 1px solid #87ceed;
  border-radius: 4px;
  color: #87ceed;
  cursor: pointer;

  &.active {
    border: 1px solid #87ceeb;
    color: #fff;
    background: #87ceeb;
  }

  &:hover {
    background: #87ceeb;
    color: #fff;
  }
}
