.m-detailSearch__title,
.m-easySearch__title {
  margin: 12px 0;

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }
}

.m-detailSearch__wrapper,
.m-easySearch__wrapper {
  width: 90%;
  margin: 30px auto;
}

.m-easySearch__content {
  width: 100%;
  display: flex;
}

.m-easySearch__box {
  border: 1px solid #3aabd2;
  min-width: 80px;
  min-height: 80px;
  width: calc(96% / 3);
  padding: 2% 0;
}

.m-easySearch__wrapper .m-easySearch__box:nth-child(2) {
  margin: 0 2%;
}

.m-easySearch__text {
  text-align: center;
  margin-top: 4px;
}

.m-easySearch__img {
  width: 30%;
  margin: 0 auto;
}

/**  Detail Search **/
.m-detailSearch__wrapper {
  height: 100%;
}

.m-detailSearch__content {
  height: 100%;

  h4 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
  }
}

