.m-detailSearch__title,
.m-easySearch__title {
  margin: 0 0 18px 0;

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
  }
}

.m-detailSearch__wrapper,
.m-easySearch__wrapper {
  width: 90%;
  margin: 32px auto;
}

.m-easySearch__content {
  width: 100%;
  display: flex;
}

.m-easySearch__box {
  border: 1px solid #3aabd2;
  border-radius: 4px;
  min-width: 80px;
  min-height: 80px;
  width: calc(96% / 3);
  padding: 4% 0;
}

.m-easySearch__wrapper .m-easySearch__box:nth-child(2) {
  margin: 0 2%;
}

.m-easySearch__text {
  text-align: center;
  margin-top: 8px;
  font-size: 110%;
  color: #3aabd2;
}

.m-easySearch__img {
  width: 30%;
  margin: 0 auto;
}

/**  Detail Search **/
.m-detailSearch__wrapper {
  height: 100%;
}

.m-detailSearch__content {
  height: 100%;
  padding-bottom: 32px;

  h4 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
  }
}

