/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require leaflet
 *= require_self
 */

/* CSS Remedy */
*,::after,::before{box-sizing:border-box}html{line-sizing:normal}body{margin:0}[hidden]{display:none}h1{font-size:2rem}h2{font-size:1.5rem}h3{font-size:1.17rem}h4{font-size:1rem}h5{font-size:.83rem}h6{font-size:.67rem}h1{margin:.67em 0}pre{white-space:pre-wrap}hr{border-style:solid;border-width:1px 0 0;color:inherit;height:0;overflow:visible}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle;max-width:100%}audio:not([controls]){display:none}picture{display:contents}source{display:none}canvas,img,svg,video{height:auto}audio{width:100%}img{border-style:none}svg{overflow:hidden}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}

body {
  min-width: 320px;
}

h2 {
  font-size: 24px !important;
  font-weight: bold !important;
}

h3 {
  font-size: 20px !important;
  font-weight: bold !important;
}

h4 {
  font-size: 16px !important;
  font-weight: bold !important;
}

p {
  margin-bottom: 0 !important;
}

a:hover {
  text-decoration: none;
}

main {
  min-height: 100%;
}

footer {
  padding: 16px 0;
  background: #F7EDED;
}

footer p {
  color: #fff;
}

nav.header {
  width: 100%;
  height: 70px;
  position: relative;
  background: #F7EDED;
}

.drawer {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
}

.navbar_brand {
  width: 100%;
}

.navbar_toggle {
  z-index:9999;
}

.navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #5c6b80;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.navbar_toggle_icon:nth-child(1) {
  top: 0;
}

.navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
}

.navbar_toggle_icon:nth-child(3) {
  top: 0;
}
/*OPEN時の動き*/
.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition:ease .5s;
  transition:ease .5s;
  z-index:1000;
}

.menu ul li {
  padding: 2em;
  list-style: none;
  border-bottom: 1px solid #CCC;
}
/*OPEN時の動き*/
.menu.open {
  -webkit-transform:translateX(0);
  transform:translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #F7EDED;
  opacity: 1.0;
}

#map.menu_open {
  z-index: -1;
}

#map:not(.menu_open) {
  animation: hide 2s;
}

.swiper.menu_open {
  z-index: -1;
}

.swiper:not(.menu_open) {
 animation: hide 2s;
}

@keyframes hide {
  from { z-index: -1; }
  to { z-index: 0; }
}

.pagination {
  justify-content: center;
}

@media screen and (min-width: 720px) {
nav {
  display: flex;
  flex-direction: row;
}

.navbar_toggle {
  display: none;
}

.menu {
  width: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu ul {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu ul li {
  padding: 0 1em;
  border-bottom: none;
}

.pagination {
  justify-content: center;
  margin: 0 auto;
}