.card {
  margin-bottom: 30px;
  text-decoration: none;
  z-index: -1;
}

.card-title {
  margin: 10px 0;
  color: #333;
}

.card-text {
  color: #333;
}

a {
  text-decoration: none !important;
  color: #333;
}
